@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    header > nav {
        margin: 1rem;
        text-align: left;
    }
    main {
        width: 70%;
    }
    aside > ul {
        columns: 2;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header > nav {
        margin: 1rem;
        text-align: left;
    }
    main {
        width: 60%;
    }
    aside > ul {
        columns: 2;
    }
}

@media screen and (min-width: 1200px) {
    header > nav {
        margin: 1rem;
        text-align: left;
    }
    main {
        width: 50%;
    }
    aside > ul {
        columns: 2;
    }
}