@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Euclid-Medium;
    src: url(../fontes/AndroidEuclid-Medium-WebS.woff2);
}
@font-face {
    font-family: Euclid-Bold;
    src: url(../fontes/AndroidEuclid-Bold-WebS.woff2);
}

:root {
    --cor0: #3DDC84;
    --cor1: #0000EE;
    --cor2: #D7EFFE;
    --cor3: #073042;
    --cor4: #4285F4;
    --cor5: #141414;
    --cor6: #FFFFFF;

    --fonte-padrao: Roboto, sans-serif;
    --fonte-destaque: Euclid-Bold, sans-serif;
    --fonte-media: Euclid-Medium, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

html, body {
    font-family: var(--fonte-padrao);
}

a {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--cor0);
}

p {
    margin: 1rem 0;
    font: normal 1rem var(--fonte-padrao);
}

header {
    height: 10%;
    width: 100%;
    background-color: var(--cor0);
    font: normal 1rem var(--fonte-padrao);
    text-align: center;
}

header > h1 {
    padding: 1rem 0.5rem;
    font: normal 3rem var(--fonte-destaque);
}

header > p {
    margin: 0.5rem 1rem;
    font: normal 1.25rem var(--fonte-padrao);
}

header > nav {
    margin: 1rem auto;
    padding: 2rem 0;
    background-color: var(--cor0);
    font-family: var(--fonte-media);
}

header > nav > a {
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: var(--cor6);
    background-color: var(--cor3);
    font-weight: normal;
    box-shadow: 0.15rem 0.25rem 0.45rem #14141440;
}

header > nav > a:hover {
    position:relative;
    bottom: 0.15rem;
    box-shadow: 0.15rem 0.5rem 0.75rem #14141445;
}

main {
    height: 85%;
    width: 90%;
    margin: 0 auto;
}

main > article {
    margin: 5rem 1rem;
}

main > article > h1 {
    margin: 1rem 0;
    font: normal 2rem var(--fonte-destaque);
}

main > article > h2 {
    margin: 1rem 0;
    font: normal 1.75rem var(--fonte-destaque);
}

main > article > aside {
    margin: 2rem 1rem;
    padding: 2rem;
    background-color: var(--cor2);
    border-radius: 2rem;
}

main > article > aside > h3 {
    font: normal 1.25rem var(--fonte-destaque);
}

main > article > p, main > article > aside > p {
    text-align: justify;
}

aside {
    box-shadow: 0.25rem 0.25rem 0.5rem #14141410;
}

aside > ul {
    margin: auto;
    columns: 1;
    list-style-type: none;
}

aside > ul > li {
    position: relative;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--cor2);
    background-color: var(--cor4);
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
}

aside > ul > li:hover {
    position:relative;
    bottom: 0.25rem;
    color: var(--cor6);
    text-shadow: 0.15rem 0.15rem 0.5rem #14141450;
    box-shadow: 0.15rem 0.5rem 0.75rem #14141445;
}

aside > ul > li#cupcake:hover {
    background: var(--cor4) url(../imagens/cupcake.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#donut:hover {
    background: var(--cor4) url(../imagens/donut.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#eclair:hover {
    background: var(--cor4) url(../imagens/eclair.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#froyo:hover {
    background: var(--cor4) url(../imagens/froyo.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#ginger:hover {
    background: var(--cor4) url(../imagens/gingerbread.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#honey:hover {
    background: var(--cor4) url(../imagens/honeycomb.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#icecream:hover {
    background: var(--cor4) url(../imagens/icecreamsandwich.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#jelly:hover {
    background: var(--cor4) url(../imagens/jellybeans.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#kitkat:hover {
    background: var(--cor4) url(../imagens/kitkat.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#lolipop:hover {
    background: var(--cor4) url(../imagens/lolipop.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#marshm:hover {
    background: var(--cor4) url(../imagens/marshmallow.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#nougat:hover {
    background: var(--cor4) url(../imagens/nougat.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#oreo:hover {
    background: var(--cor4) url(../imagens/oreo.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li#pie:hover {
    background: var(--cor4) url(../imagens/pie.png) no-repeat;
    background-size: cover;
    background-position: left center;
}

aside > ul > li strong {
    font-size: 1.5rem;
}

aside > ul > li > abbr {
    padding: 2rem 0 0;
    text-decoration: none;
}

aside > ul > li > abbr:hover {
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.15rem;
}

footer {
    height: 5%;
    margin-top: 3rem;
    border-top: solid thin var(--cor5);
    text-align: center;   
}

footer > p {
    font-size: 0.85rem;
}

img {
    width: 100%;
    border-radius: 1rem;
}

#lowRes {
    margin: auto;
    max-width: 200px;
}

div.boxVideo {
    position: relative;
    margin: 1rem auto;
    padding: 1rem 1rem 50% 1rem;
    background-color: var(--cor0);
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 0.5rem #14141410;
}

div.boxVideo > iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
}