@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Euclid-Medium;
    src: url(../fontes/AndroidEuclid-Medium-WebS.woff2);
}
@font-face {
    font-family: Euclid-Bold;
    src: url(../fontes/AndroidEuclid-Bold-WebS.woff2);
}

:root {
    --cor0: #3DDC84;
    --cor1: #0000EE;
    --cor2: #D7EFFE;
    --cor3: #073042;
    --cor4: #4285F4;
    --cor5: #141414;
    --cor6: #FFFFFF;

    --fonte-padrao: Roboto, sans-serif;
    --fonte-destaque: Euclid-Bold, sans-serif;
    --fonte-media: Euclid-Medium, sans-serif;
}

* {
    margin: 0 auto;
    padding: unset;
    text-decoration: none;
}

body {
    font-family: var(--fonte-padrao);
}

a {
    color: var(--cor3);
    font-weight: bold;
}

a:hover {
    color: var(--cor0);
    transition-duration: .3s;
}

p {
    margin: 1em 0;
    font: 400 1em var(--fonte-padrao);
}

header {
    text-align: center;
    font: 400 1em var(--fonte-padrao);
    background-color: var(--cor0);
    min-height: 150px;
}

header > h1 {
    padding: 0.5em 1em 0.15em;
    font: normal 3.5em var(--fonte-destaque);
}

header > p {
    margin: 0.15em 1.75em 2em;
    font: 400 1.25em var(--fonte-padrao);
}

header > nav {
    margin: 0 1em;
    padding: 2em 0;
    text-align: left;
    font-family: var(--fonte-media);
    background-color: var(--cor0);
}

header > nav > a {
    margin: 0.25em;
    padding: 0.5em 0.75em;
    border-radius: 20px;
    color: var(--cor6);
    background-color: var(--cor3);
    font-weight: normal;
    transition-duration: .3s;
}

header > nav > a:hover {
    position:relative;
    bottom: 0.15em;
    box-shadow: 2px 2px 5px #141414ad;
}

main {
    max-width: 1000px;
    min-width: 450px;
    margin: 0 auto;
}

main > article {
    margin: 0 1.25em;
}

main > article > h1 {
    margin: 1em 0 0.25em;
    font: normal 2.25em var(--fonte-destaque);
    text-align: unset;
}

main > article > h2 {
    margin: 1em 0 0.25em;
    font: normal 2em var(--fonte-destaque);
}

main > article > aside {
    background-color: var(--cor2);
    margin: 2em 1em;
    padding: 1.5em;
    border-radius: 1.5em;
}

main > article > aside > h3 {
    font: normal 1.35em var(--fonte-destaque);
}

main > article > p, main > article > aside > p {
    text-align: justify;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    margin: 0.75em;
}

aside > ul > li {
    padding: 0.25em 0;
}

aside > ul > li > abbr:hover {
    font-weight: bold;
    transition-duration: .3s;
}

footer {
    text-align: center;
    font-size: 0.9em;
    border-top: solid thin var(--cor5);
    margin-top: 3em;
}

img {
    width: 100%;
}

#lowRes {
    max-width: 300px;
    text-align: center;
}

div.boxVideo {
    background-color: var(--cor4);
    border-radius: 0.5em;
    margin: 1em auto;
    padding: 1em 1em 50% 1em;
    position: relative;
}

div.boxVideo > iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 0.5em;
}

